* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: Pretendard, "Noto Sans KR", Arial, sans-serif;

  background: #ffffff;
  color: #222;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
